<h1>What Should Your Signature Karaoke Song Be?</h1>

<form method="post" action="/calc">
		<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor1" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor1" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor1" value="blue" /></p>
		<p><label>Yellow</label><input type="radio" name="radiocolor1" value="yellow" /></p>
		<p><label>Purple</label><input type="radio" name="radiocolor1" value="purple" /></p>
	</div>
	<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor2" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor2" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor2" value="blue" /></p>
		<p><label>Yellow</label><input type="radio" name="radiocolor2" value="yellow" /></p>
		<p><label>Purple</label><input type="radio" name="radiocolor2" value="purple" /></p>
	</div>
	<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor3" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor3" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor3" value="blue" /></p>
		<p><label>Yellow</label><input type="radio" name="radiocolor3" value="yellow" /></p>
		<p><label>Purple</label><input type="radio" name="radiocolor3" value="purple" /></p>
	</div>
	<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor4" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor4" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor4" value="blue" /></p>
		<p><label>Yellow</label><input type="radio" name="radiocolor4" value="yellow" /></p>
		<p><label>Purple</label><input type="radio" name="radiocolor4" value="purple" /></p>
	</div>
	<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor5" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor5" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor5" value="blue" /></p>
		<p><label>Yellow</label><input type="radio" name="radiocolor5" value="yellow" /></p>
		<p><label>Purple</label><input type="radio" name="radiocolor5" value="purple" /></p>
	</div>

	<input type="submit" class="button"/>
</form>