<h1>Favorite Color Quiz</h1>

<form method="post" action="/calc">
		<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor1" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor1" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor1" value="blue" /></p>
	</div>
	<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor2" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor2" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor2" value="blue" /></p>
	</div>
	<div>
		<h1>What's your favorite color?</h1>
		<p><label>Red</label><input type="radio" name="radiocolor3" value="red" /></p>
		<p><label>Green</label><input type="radio" name="radiocolor3" value="green" /></p>
		<p><label>Blue</label><input type="radio" name="radiocolor3" value="blue" /></p>
	</div>

	<input type="submit" class="button"/>
</form>