<h1>What Should Your Signature Karaoke Song Be?</h1>

<form method="post" action="/calc">
		<div>
		<h1>Why do you do karaoke?</h1>
		<p><input type="radio" name="radiocolor1" value="red" /><label>I do it for the ladies.</label></p>
		<p><input type="radio" name="radiocolor1" value="green" /><label>I have a lot of feelings but I'm OVER YOU, CHARLENE!</label></p>
		<p><input type="radio" name="radiocolor1" value="blue" /><label>For fun.</label></p>
		<p><input type="radio" name="radiocolor1" value="yellow" /><label>It's my bachelorette party!</label></p>
		<p><input type="radio" name="radiocolor1" value="purple" /><label>It's my only outlet for my dashed dreams of being a rockstar.</label></p>
	</div>
	<div>
		<h1>Are you a great singer?</h1>
		<p><input type="radio" name="radiocolor2" value="red" /><label>No, but I can spit mad rhymes.</label></p>
		<p><input type="radio" name="radiocolor2" value="green" /><label>I don't always stay on key but I'm not that bad, CHARLENE.</label></p>
		<p><input type="radio" name="radiocolor2" value="blue" /><label>I'm pretty good.</label></p>
		<p><input type="radio" name="radiocolor2" value="yellow" /><label>I don't know, does it matter?</label></p>
		<p><input type="radio" name="radiocolor2" value="purple" /><label>I have a BFA in Vocal Performance.</label></p>
	</div>
	<div>
		<h1>Are you alone?</h1>
		<p><input type="radio" name="radiocolor3" value="red" /><label>I don't need a wingman.</label></p>
		<p><input type="radio" name="radiocolor3" value="green" /><label>I came by myself but my FRIENDS are here, right guys? Guys?</label></p>
		<p><input type="radio" name="radiocolor3" value="blue" /><label>My buddies are at the bar.</label></p>
		<p><input type="radio" name="radiocolor3" value="yellow" /><label>I got all my sisters with me!!</label></p>
		<p><input type="radio" name="radiocolor3" value="purple" /><label>Alone. I can harmonize with myself.</label></p>
	</div>
	<div>
		<h1>On a scale of one to five, how happy are you right now?</h1>
		<p><input type="radio" name="radiocolor4" value="red" /><label>I'm a steady three.</label></p>
		<p><input type="radio" name="radiocolor4" value="green" /><label>FIVE. FIVE, CHARLENE. YOU HEAR THAT? Oh god... </label></p>
		<p><input type="radio" name="radiocolor4" value="blue" /><label>Two. I'm not afraid to admit it. Two. But that's why I'm here, you know? I just want to have a good time.</label></p>
		<p><input type="radio" name="radiocolor4" value="yellow" /><label>Five b/c I'm getting married omg!!! And my girls know how to have fun!!</label></p>
		<p><input type="radio" name="radiocolor4" value="purple" /><label>I'd prefer not to answer that. It's about the craft.</label></p>
	</div>
	<div>
		<h1>What did you have to drink?</h1>
		<p><input type="radio" name="radiocolor5" value="red" /><label>Nothing yet, but I opened a tab... for the ladies.</label></p>
		<p><input type="radio" name="radiocolor5" value="green" /><label>Jose Cuervo, Captain Morgan, something blue... </label></p>
		<p><input type="radio" name="radiocolor5" value="blue" /><label>G&T</label></p>
		<p><input type="radio" name="radiocolor5" value="yellow" /><label>Daquiritinis!!</label></p>
		<p><input type="radio" name="radiocolor5" value="purple" /><label>Tepid water with lemon.</label></p>
	</div>

	<input type="submit" class="button"/>
</form>