{{#if error}}

	<h2>Error</h2>
	<p>{{message}}</p>
	<p><a href="/">Try Again</a></p>
	
{{else}}

	
	<p>Your favorite color is:</p>
	
	<h1 class="favcolor">{{favcolor}}</h1>

	<p><a href="/">Calculate Another</a></p>

{{/if}}