{{#if error}}

	<h2>Error</h2>
	<p>{{message}}</p>
	<p><a href="/">Try Again</a></p>
	
{{else}}

	
	<p>You should sing:</p>
	
	<h1 class="sigsong">{{sigsong}}</h1>

	<p><a href="/">Play Again</a></p>

{{/if}}