<h1>Tip Calculator</h1>

<form method="post" action="/calc">
		<div class="line">
		<label>Red</label>
		<input type="radio" name="radiocolor1" value="red" />
		<label>Green</label>
		<input type="radio" name="radiocolor1" value="green" />
		<label>Blue</label>
		<input type="radio" name="radiocolor1" value="blue" />
	</div>
	<div class="line">
		<label>Red</label>
		<input type="radio" name="radiocolor2" value="red" />
		<label>Green</label>
		<input type="radio" name="radiocolor2" value="green" />
		<label>Blue</label>
		<input type="radio" name="radiocolor2" value="blue" />
	</div>
	<div class="line">
		<label>Red</label>
		<input type="radio" name="radiocolo3" value="red" />
		<label>Green</label>
		<input type="radio" name="radiocolor3" value="green" />
		<label>Blue</label>
		<input type="radio" name="radiocolor3" value="blue" />
	</div>

	<input type="submit" class="button"/>
</form>